<div class="vitrine">
    <div class="view-toggle w-100 d-inline-block p-3">
        <div class="float-end ">

        <button class="toggle-btn" [class.active]="currentView === 'list'" (click)="toggleView('list')"><i class="fa fa-list"></i></button>
        <button class="toggle-btn" [class.active]="currentView === 'grid'" (click)="toggleView('grid')"><i class="fa fa-th"></i></button>
        </div>
        
      </div>
  
    <div *ngIf="currentView === 'list'; else gridView" class="product-list row">
      <ul>
        <li *ngFor="let product of products" class="product-item col-6 col-xs-12">
          <div class="product-image">
            <img [src]="product.img.url" [alt]="product.name" />
          </div>
          <div class="product-details">
            <h3>{{ product.name }}</h3>
            <p class="product-price">{{ product.price | currency:'TRY':'symbol' }}</p>
            <p class="product-description">{{ product.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  
    <ng-template #gridView>
      <div class="product-grid">
        <div *ngFor="let product of products" class="product-card">
          <div class="product-image">
            <img [src]="product.img.url" [alt]="product.name" />
          </div>
          <div class="product-details">
            <h3>{{ product.name }}</h3>
            <p class="product-price">{{ product.price | currency:'TRY':'symbol' }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  