<!-- begin::Header -->
<div class="card-header border-0">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder text-dark">İlgili Kobiler</span>
    <span class="text-muted mt-1 fw-bold fs-7">5 Görüntülenen</span>
  </h3>

  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body pt-2">
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Avatar -->
    <div class="symbol symbol-50px me-5">
      <img src="./assets/media/logos/kobi5.jpeg" class="" alt="" />
    </div>
    <!-- end::Avatar -->
    <!-- begin::Text -->
    <div class="flex-grow-1">
      <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
        ZF Sanayi Ltd. Şti.
      </a>
      <span class="text-muted d-block fw-bold">Faaliyet: Otomotiv yedek parça üretimi, özellikle şanzıman parçaları.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Avatar -->
    <div class="symbol symbol-50px me-5">
      <img src="./assets/media/logos/kobi1.jpeg" class="" alt="" />
    </div>
    <!-- end::Avatar -->
    <!-- begin::Text -->
    <div class="flex-grow-1">
      <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
        Huzur Üretim A.Ş.
      </a>
      <span class="text-muted d-block fw-bold">Faaliyet: Endüstriyel dişli ve şanzıman üretimi.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Avatar -->
    <div class="symbol symbol-50px me-5">
      <img src="./assets/media/logos/kobi2.jpeg" class="" alt="" />
    </div>
    <!-- end::Avatar -->
    <!-- begin::Text -->
    <div class="flex-grow-1">
      <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
        Nur Sanayi  Ltd. Şti.
      </a>
      <span class="text-muted d-block fw-bold">Faaliyet: Tarım makineleri için şanzıman üretimi.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Avatar -->
    <div class="symbol symbol-50px me-5">
      <img src="./assets/media/logos/kobi3.jpeg" class="" alt="" />
    </div>
    <!-- end::Avatar -->
    <!-- begin::Text -->
    <div class="flex-grow-1">
      <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
       Bert Otomotiv Parçaları Üretim ve Ticaret A.Ş.
      </a>
      <span class="text-muted d-block fw-bold">Faaliye: Otomotiv parçaları, şanzıman bileşenleri.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center">
    <!-- begin::Avatar -->
    <div class="symbol symbol-50px me-5">
      <img src="./assets/media/logos/kobi4.jpeg" class="" alt="" />
    </div>
    <!-- end::Avatar -->
    <!-- begin::Text -->
    <div class="flex-grow-1">
      <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
        Merkez Otomatik Şanzıman A.Ş.
      </a>
      <span class="text-muted d-block fw-bold">Faaliyet: İçten yanmalı motorlar ve şanzıman üretimi.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <button class="btn flex-grow-1" style="float:right;text-decoration: underline; font-size: 12px;color:#2980b9;" >Tüm İlgili Kobiler</button>

  
</div>
<!-- end::Body -->
