<div class="container mt-3" *ngIf="user$ | async as _user">
  <div class="row">
    <div *ngIf="meeting" class="col">
      <h2>{{ meeting.name }}</h2>
      <p>Tarih: {{ meeting.meetingDate | date:'dd.MM.yyyy HH:mm' }}</p>
      <p>Şehir: {{ meeting.city.cityName }}</p>

      <p>Yeri: {{ meeting.location }}</p>
      
      <h3>Katılımcılar:</h3>
      <ul>
        <li *ngFor="let participant of meeting.participants">{{ participant.name }}</li>
        <li *ngFor="let excludeParticipant of meeting.excludeParticipants">{{ excludeParticipant.name }}</li>

      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <mat-tab-group fitInkBarToContent>
        <mat-tab label="Yapılacaklar">
          <div class="form-group">
            
                     
            <textarea
              id="noteContentYapilacaklar"
              class="form-control"
              rows="3"
              cols="10"

            ></textarea>
            <button class="btn btn-primary mt-2" >
              Not Ekle
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Yapılabilecekler">
          <div class="form-group">
            
                      <textarea
              id="noteContentYapilabilecekler"
              class="form-control"
              rows="3"
              cols="10"
              
            ></textarea>
            <button  class="btn btn-primary mt-2" >
              Not Ekle
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Info">
          <div class="form-group">

            <textarea
              id="noteContentBilgi"
              class="form-control"
              rows="3"
              cols="10"

    
            ></textarea>
            <button class="btn btn-primary mt-2">
              Not Ekle
            </button>
          </div>
        </mat-tab>
        <mat-tab label="BI'dan gelebilecek proje sayısı">
          <div class="form-group">

            <textarea
              id="noteContentBilgi"
              class="form-control"
              rows="3"
              cols="10"

            ></textarea>
            <button class="btn btn-primary mt-2" >
              Not Ekle
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Pazar Payı">
          <div class="form-group">

            <textarea
              id="noteContentBilgi"
              class="form-control"
              rows="3"
              cols="10"

    
            ></textarea>
            <button class="btn btn-primary mt-2"  >
              Not Ekle
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
