.card-margin{
    margin-left: 30px
}
.title{
    background-image: url("../../../assets/media/logos/application-background.jpg");
    height: 200px;
    font-size: 24px !important;
    justify-content: center !important;
    align-items: center  !important;
    display: flex;
    padding: 20px;
}
.card-container{
}