<div class="mb-10 row justify-content-around">
    <div class="col-4">
        <label class="form-label fw-bold">Sektör</label>

        <div>
          <select
            class="form-select form-select-solid form-control bg-white"
            data-kt-select2="true"
            data-placeholder="Select option"
            data-allow-clear="true"
            (change) = "setSelectedSector($event)"
          >
            <option selected value="">Sektör Seçiniz</option>
            <option value="İnşaat">İnşaat</option>
            <option value="Teknoloji">Teknoloji</option>
            <option value="Kozmetik">Kozmetik</option>
            <option value="Tekstil">Tekstil</option>
            <option value="Otomotiv">Otomotiv</option>
          </select>
        </div>
    </div>

    <div class="col-4">
        <label class="form-label fw-bold">Tarihe Göre Filtrele</label>

        <div>
        <label>Başlangıç Tarihi</label>
          <input class="form-control" type="date" name="startDate" (change) = "startDateChange($event)" >
          <label>Bitiş Tarihi</label>
          <input class="form-control" type="date" name="endDate" (change) = "endDateChange($event)">
        </div>
    </div>
    
  </div>

<div class="d-flex row card-container">
    <div *ngFor="let application of applications"
    class="p-4 col-2 border border-dark card-margin rounded mt-5"
  >
    <a class="text-gray-800 text-hover-primary d-flex flex-column cursor-pointer">
      <div class="fs-5 fw-bolder mb-2 title justify-content-end text-white">{{application.BI}} && {{application.KOBI}}</div>
    </a>
    <div class="fs-5 fw-bolder mb-2">{{application.BI}} && {{application.KOBI}}</div>
    <div class="fs-7 fw-bold text-gray-400 mt-auto">{{application.sector}}</div>
    <div class="fs-7 fw-bold text-gray-400 mt-auto">{{application.peroid}}. Dönem</div>

  </div>
  
</div>
