<ng-container>

  <!-- begin::Header -->
  <!-- <div class="card-header border-0 pt-5 d-flex justify-content-between">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Şirket Yönetimi</span>
    </h3>
  </div> -->
  <!-- end::Menu -->

  <!-- end::Header -->
  <div class="card mb-5 mb-xl-10" *ngIf="user$ | async as _user">

  <div>
    <div class="d-flex justify-content-between">
      <div class="row col-3">
        <input *ngIf="tabLabel === 'İşletme Yönetimi'" class="form-control mt-3 ms-3" placeholder="İşletme Ara"
          (change)="search($event)" />
      </div>
      <div class="d-flex">
        <div class="ms-auto">
          <button class="btn btn-primary" *ngIf="_user.roles[0].appRole.name !=='Büyük İşletme Temsilcisi' "(click)="openCreateModal()">Ekle</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div style="text-align: right;">
    <button class="btn btn-primary">Ekle</button>
  </div> -->
  <mat-tab-group fitInkBarToContent (selectedTabChange)="onSearch($event)">

    <mat-tab label="İşletme Yönetimi">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Ad Soyad</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CompanyType">
          <th mat-header-cell *matHeaderCellDef>İşletme Tipi</th>
          <td mat-cell *matCellDef="let element">{{ element.companyType }}</td>
        </ng-container>
        <ng-container matColumnDef="Personel">
          <th mat-header-cell *matHeaderCellDef>Çalışan Sayısı</th>
          <td mat-cell *matCellDef="let element">{{ element.personel }}</td>
        </ng-container>
        <!-- Weight Column -->

        <!-- Symbol Column -->
        <ng-container matColumnDef="Income">
          <th mat-header-cell *matHeaderCellDef>Ciro</th>
          <td mat-cell *matCellDef="let element">{{ element.income }}</td>
        </ng-container>
        <ng-container matColumnDef="Region">
          <th mat-header-cell *matHeaderCellDef>Bölge</th>
          <td mat-cell *matCellDef="let element">{{ element.region }}</td>
        </ng-container>
        <ng-container matColumnDef="Sector">
          <th mat-header-cell *matHeaderCellDef>Sektör</th>
          <td mat-cell *matCellDef="let element">{{ element.sector }}</td>
        </ng-container>
        <ng-container matColumnDef="Details">
          <th mat-header-cell *matHeaderCellDef>Şirket Detayı</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-info btn-margin" (click)="openAddUpdateModal(element)">
              Detay
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Kayıt Onayı" *ngIf="_user.roles != 4 ">
      <table mat-table [dataSource]="dataSourceRegister" class="mat-elevation-z8">


        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Ad Soyad</th>
          <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CompanyType">
          <th mat-header-cell *matHeaderCellDef>İşletme Adı</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="Personel">
          <th mat-header-cell *matHeaderCellDef>İşletme Tipi</th>
          <td mat-cell *matCellDef="let element">{{ element.companyType }}</td>
        </ng-container>
        <!-- Weight Column -->

        <!-- Symbol Column -->
        <ng-container matColumnDef="Region">
          <th mat-header-cell *matHeaderCellDef>Bölge</th>
          <td mat-cell *matCellDef="let element">{{ element.region }}</td>
        </ng-container>
        <ng-container matColumnDef="Sector">
          <th mat-header-cell *matHeaderCellDef>Sektör</th>
          <td mat-cell *matCellDef="let element">{{ element.sector }}</td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-success btn-margin">Onayla</button>
            <button type="button" class="btn btn-danger btn-margin">Reddet</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsRegister"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRegister"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
  </div>
  <app-modal #addUpdateModal [modalConfig]="modalAddUpdateConfig" aria-modal="true">
    <div *ngIf="selectedCompany !== null" class="container">
      <div>
        <label>Faaliyet Gösterilen Sektör</label>
        <select class="form-select form-select-solid form-control bg-white mt-3" data-kt-select2="true"
          data-placeholder="Select option" data-allow-clear="true" disabled="true">
          <option *ngFor="let item of sectors" [selected]="selectedCompany.sector === item.name ? true : false"
            value="">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="mt-5">
        <label>Tamamlanan/Devam eden proje</label>
        <input class="form-control mt-3" disabled="true" value="2" />
      </div>
      <div class="mt-5">
        <label class="">Gelir Tablosu</label>
        <input class="form-control mt-3" disabled="true" value="xxx" />
      </div>
      <div class="mt-5">
        <label>Finansal veri</label>
        <input class="form-control mt-3" disabled="true" value="xxx" />
      </div>
      <div class="mt-5">
        <label>İş Birliği Bilgisi</label>
        <input class="form-control mt-3" disabled="true" value="xxx" />
      </div>
      <div class="mt-5">
        <label>Çevre Skoru</label>
        <input class="form-control mt-3" disabled="true" value="14001 Belgesi" />
      </div>
      <div class="mt-5">
        <label>TSE Uygunluk Belgesi</label>
        <input class="form-control mt-3" disabled="true" value="9001 Belgesi" />
      </div>
      <div class="mt-5">
        <label>Toplam Personel Sayısı</label>
        <input class="form-control mt-3" disabled="true" value="selectedCompany.personel" />
      </div>
      <div class="mt-5">
        <label>Yurt içi/ Yurt dışı ticaret bilgisi</label>
        <input class="form-control mt-3" disabled="true" value="xxxx" />
      </div>
      <div class="mt-5">
        <label>İhracat Hedefi</label>
        <input class="form-control mt-3" disabled="true" value="xxxx" />
      </div>
      <div class="mt-5">
        <label>İhracat yapılan ülkeler</label>
        <input class="form-control mt-3" disabled="true" value="Avrupa" />
      </div>
      <div class="mt-5">
        <label>Destek kullanım miktarı (outsource)</label>
        <input class="form-control mt-3" disabled="true" value="var" />
      </div>
      <div class="mt-5">
        <label>Şirket Tipi</label>
        <select class="form-select form-select-solid form-control bg-white mt-3" data-kt-select2="true"
          data-placeholder="Select option" data-allow-clear="true" disabled="true">
          <option *ngFor="let item of companyTypes" [selected]="selectedCompany.companyType === item ? true : false"
            value="">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
  </app-modal>
  <app-modal #createModal [modalConfig]="createModalConfig" aria-modal="true">
    <!-- <button *ngIf="counter.length < 5" class="btn btn-success" (click) = "counterUpdate()">Soru Ekle</button> -->
    <div class="col-xs-12 text-center">
      <div *ngFor="let value of counter ; index as i">
        <div class="row">
          <div class="row col-12">
            <label class="col-lg-4 col-form-label fw-bold fs-6 text-start">İşletme Adı</label>
            <div class="col-lg-12 ">
              <input type="text" class="form-control" id="question" placeholder="Şirket Adı giriniz">
            </div>


            <label for="sektorSelect" class="col-lg-4 col-form-label fw-bold fs-6 text-start">İşletme Tipi
              Seçiniz:</label>
            <select id="sektorSelect" (change)="changeCompanyType($event)"
              class="text-center mx-2 form-select form-select-solid" style="width: 97% ">
              <option value="Büyük İşletme" Selected>Büyük İşletme</option>
              <option value="Kobi">Kobi</option>
            </select>
            <label class="col-lg-4 col-form-label fw-bold fs-6 text-start">Ciro</label>
            <div class="col-lg-12 ">
              <input type="number" class="form-control" id="question" placeholder="Ciro Giriniz">
            </div>
            <label class="col-lg-4 col-form-label fw-bold fs-6 text-start">Çalışan Sayısı</label>
            <div class="col-lg-12 ">
              <input type="number" class="form-control" id="question" placeholder="Çalışan Sayısı Giriniz">
            </div>
            <label for="CitySelect" class="col-lg-4 col-form-label fw-bold fs-6 text-start">Bölge Seçiniz:</label>
            <select id="CitySelect" (change)="changeCity($event)" class="text-center mx-2 form-select form-select-solid"
              style="width: 97% ">
              <option value="İstanbul">İstanbul</option>
              <option value="Ankara">Ankara</option>
              <option value="Trabzon" selected>Trabzon</option>
              <option value="İzmir">İzmir</option>
              <option value="Gebze">Gebze</option>
            </select>
            <label for="sektorSelect" class="col-lg-4 col-form-label fw-bold fs-6 text-start">Sektör Seçiniz:</label>
            <select id="sektorSelect" (change)="changesektor($event)"
              class="text-center mx-2 form-select form-select-solid" style="width: 97% ">
              <option value="Gıda" Selected>Gıda</option>
              <option value="İnşaat">İnşaat</option>
              <option value="Tekstil">Tekstil</option>
              <option value="Kozmetik">Kozmetik</option>
              <option value="Teknoloji">Teknoloji</option>
              <option value="Hububat (Tahıl)">Hububat (Tahıl)</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-4" (click)="openSuccessModal()">Kaydet</button>
    </div>
  </app-modal>

  <app-modal #successModal [modalConfig]="successModalConfig" aria-modal="true">
    <div class="col-xs-12 text-center">
      <i class="fa-solid fa-check call-tick"></i>
      <h3>Tebrikler</h3>
      <p>İşletme Oluşturuldu.</p>
    </div>
  </app-modal>
</ng-container>