/* Katılımcıları liste olarak göster */
.katilimci-listesi {
    list-style-type: none;
    padding: 0;
  }
  
  .katilimci-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
  }
  
  .katilimci-item span {
    flex-grow: 1;
    margin-right: 8px;
  }
  
  .katilimci-item button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    padding: 5px !important;
  }
 
.form-group.row.mb-6.col-5 {
  margin-bottom: 15px; 
}

.form-group.row.mb-6.col-5 input {
  border: none;
  border-bottom: 1px solid #e4dada; 
  border-radius: 0; 
  outline: none; 
  background-color: transparent; 
}

.form-group.row.mb-6.col-5 input {
  width: 100%;
  box-sizing: border-box;
}

