<div class="row mb-6">
    <div class="col-lg-6 col-xs-12">
      <label class="col-lg-4 col-form-label required fw-bold fs-6">Banka Seç</label>

      <select
          class="form-select form-select-solid"
          data-kt-select2="true"
          data-placeholder="Select option"
          data-allow-clear="true"
      >
          <option></option>
          <option selected value="">Seçiniz...</option>
          <option  value="">Halk Bankası</option>
          <option  value="">Ziraat Bankası</option>
          <option  value="">İş Bankası</option>
          <option  value="">Vakıf Bankası</option>
          <option  value="">Yapı Kredi</option>


      </select>
      <label class="col-lg-4 col-form-label required fw-bold fs-6">Melek Yatırımcı Seç</label>

      <select
          class="form-select form-select-solid"
          data-kt-select2="true"
          data-placeholder="Select option"
          data-allow-clear="true"
      >
          <option></option>
          <option selected value="">Seçiniz...</option>
          <option  value="">Elif Yılmaz</option>
          <option  value="">Cemal Kaya</option>
          <option  value="">Zeynep Aksoy</option>
          <option  value="">Emre Demir</option>
          <option  value="">Burak Öztürk</option>


      </select>
    </div>
    
    
    <div class="col-lg-6 col-xs-12">
            <div class="w-200px" style="float: right; margin-top:40px">
                <button class="btn btn-primary col-xs-12 mb-12">Kredi Faiz Desteği</button>
                <button class="btn btn-primary col-xs-12 mb-12">İş Birliği Desteği</button>
                <button class="btn btn-primary col-xs-12 mb-12">AR-GE Desteği</button>
            </div>
    </div>
    
  </div>

  <div class="col-xs-12">
    <div class="container full-width" style="max-width: 900px;" >
        <img class="w-120px" style="width: 100px;" src="./assets/media/ziraat.jpeg" alt="Metronic logo"  />
        <img src="./assets/media/ziraatimg.jpeg" alt="Metronic logo" style="width: 100%;" />

    </div>
  </div>