<ng-container>
    <table mat-table [dataSource]="requests" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> GörüşmeID </th>
          <td mat-cell *matCellDef="let element"(click)="getKobies(element)" >
            {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="MeetingName">
          <th mat-header-cell *matHeaderCellDef>Çağrı Adı/B2B Talebi</th>
          <td mat-cell *matCellDef="let element" (click)="getKobies(element)"> {{element.MeetingName}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="RequestMeetiingBI">
          <th mat-header-cell *matHeaderCellDef> İşletme Adı</th>
          <td mat-cell *matCellDef="let element"(click)="getKobies(element)" > {{element.RequestMeetiingBI}} </td>
        </ng-container>

        <ng-container matColumnDef="SuitableDate">
          <th mat-header-cell *matHeaderCellDef> Uygun Tarih Aralığı</th>
          <td mat-cell *matCellDef="let element"(click)="getKobies(element)" > {{element.SuitableDate}} </td>
        </ng-container>

        <ng-container matColumnDef="EmployeeNumber">
          <th mat-header-cell *matHeaderCellDef> Katılımcı Sayısı</th>
          <td mat-cell *matCellDef="let element" (click)="getKobies(element)"> {{element.EmployeeNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="StartTime">
          <th mat-header-cell *matHeaderCellDef>Başlangıç Zamanı</th>
          <td mat-cell *matCellDef="let element"(click)="getKobies(element)" > {{element.StartTime}} </td>
        </ng-container>

        <ng-container matColumnDef="MeetingTime">
          <th mat-header-cell *matHeaderCellDef>Görüşme Süresi</th>
          <td mat-cell *matCellDef="let element"(click)="getKobies(element)" > {{element.MeetingTime}} </td>
        </ng-container>

        <ng-container matColumnDef="EndTime">
          <th mat-header-cell *matHeaderCellDef>Bitiş Zamanı</th>
          <td mat-cell *matCellDef="let element" (click)="getKobies(element)"> {{element.EndTime}} </td>
        </ng-container>
        <ng-container matColumnDef="IsBreak">
          <th mat-header-cell *matHeaderCellDef>Mola Bilgisi</th>
          <td mat-cell *matCellDef="let element"(click)="getKobies(element)" > {{element.IsBreak}} </td>
        </ng-container>

        <ng-container matColumnDef="IsLunch">
          <th mat-header-cell *matHeaderCellDef>Öğle Arası Bilgisi</th>
          <td mat-cell *matCellDef="let element"(click)="getKobies(element)" > {{element.IsLunch}} </td>
        </ng-container>

        <ng-container matColumnDef="MeetingType">
          <th mat-header-cell *matHeaderCellDef>Görüşme Tipi</th>
          <td mat-cell *matCellDef="let element" (click)="getKobies(element)"> {{element.MeetingType}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Durum</th>
          <td mat-cell *matCellDef="let element" (click)="getKobies(element)"> {{element.Status}} </td>
        </ng-container>
        <!-- Weight Column -->
      
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Aksiyon </th>
            <td mat-cell *matCellDef="let element" > 
              <div *ngIf="element.Status!='Bİ İptal Etti' &&element.Status!='Bİ Onayladı'">
                <button type="button"  (click)="openSuccessModal()" class="btn btn-primary btn-margin">Onayla</button>
                <button type="button"  (click)="acRandevuModal(element)" class="btn btn-success btn-margin">Görüşme Düzenle</button>
                <button type="button" class="btn btn-danger btn-margin" (click)="openRejectionReasonModal()">Reddet</button>
              </div>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <ng-container >
       
        <!-- <div *ngIf="request !== null&&!IsClose" >
          <div class="row">
            <div class="col-md-12 text-center">
          <h3 class="mt-4">{{request.RequestMeetiingBI}} İşletmesiyle Görüşecek  Kobiler</h3>
          <div *ngFor="let application of request?.applications" class="mt-4">
              <label> {{application.KOBI}}</label>
          </div>
          <button class="btn btn-danger btn-margin"(click) = "isClose()" >Kapat</button>
      </div>
    </div>
  </div> -->

    
        </ng-container>
      <app-modal #modal [modalConfig]="modalConfig" aria-modal="true">
        <div *ngIf="request !== null">
           <div *ngFor="let application of request?.applications" class="mt-4">
                <label>{{request?.RequestMeetiingBI !== null ? request.RequestMeetiingBI : ''}} && {{application.KOBI}}</label>
                <button class="btn btn-primary btn-margin" (click) = "acKobiModal(application)">Seç</button>
            </div>
        </div>
        
      </app-modal>
      <app-modal #kobi [modalConfig]="modalConfigKobi" aria-modal="true">
        <div *ngIf="request !== null">
          <h3 >{{request.RequestMeetiingBI}} İşletmesiyle Görüşecek  Kobiler</h3>
            <div *ngFor="let application of request?.applications" class="mt-4">
                <label> {{application.KOBI}}</label>
            </div>
        </div>
        
      </app-modal>
      <app-modal #kobimodal [modalConfig]="kobimodalConfig" aria-modal="true">
        <div *ngIf="selectedApplication !== null">
            <label>{{request?.RequestMeetiingBI !== null ? request?.RequestMeetiingBI : ''}} && {{selectedApplication.KOBI}}</label>
            <mat-tab-group fitInkBarToContent>
                <mat-tab *ngFor="let day of availableDays" label="{{day}}">
                    <div class="p-2">
                        <label>Başlangıç Saati</label>
                        <div class="row">
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="startHour !== '10:00' ? 'bg-secondary':''" (click)="changeStartDate('10:00')">10:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="startHour !== '11:00' ? 'bg-secondary':''" (click)="changeStartDate('11:00')">11:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="startHour !== '12:00' ? 'bg-secondary':''" (click)="changeStartDate('12:00')">12:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="startHour !== '13:00' ? 'bg-secondary':''" (click)="changeStartDate('13:00')">13:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="startHour !== '14:00' ? 'bg-secondary':''" (click)="changeStartDate('14:00')">14:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="startHour !== '15:00' ? 'bg-secondary':''" (click)="changeStartDate('15:00')">15:00</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <label>Bitiş Saati</label>
                        <div class="row">
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="endHour !== '10:00' ? 'bg-secondary':''" (click)="changeEndDate('10:00')">10:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="endHour !== '11:00' ? 'bg-secondary':''" (click)="changeEndDate('11:00')">11:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="endHour !== '12:00' ? 'bg-secondary':''" (click)="changeEndDate('12:00')">12:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="endHour !== '13:00' ? 'bg-secondary':''" (click)="changeEndDate('13:00')">13:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="endHour !== '14:00' ? 'bg-secondary':''" (click)="changeEndDate('14:00')">14:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="endHour !== '15:00' ? 'bg-secondary':''" (click)="changeEndDate('15:00')">15:00</div>
                            <div class="border rounded p-2 col-2 ml-2" [ngClass]="endHour !== '16:00' ? 'bg-secondary':''" (click)="changeEndDate('16:00')">16:00</div>
                        </div>
                    </div>
                   
                    <label for="tarih" class="col-lg-4 col-form-label  fw-bold fs-6">Önermek İstediğiniz Tarih Bilgisi Giriniz</label>
                    <input type="date" id="tarih"  name="tarih" class="form-control" >
                </mat-tab>
            </mat-tab-group>
        </div>
      </app-modal>
      <app-modal #success [modalConfig]="modalConfigSuccess" aria-modal="true">
        <div class="col-xs-12 text-center">
          <i class="fa-solid fa-check call-tick"></i>
          <h3>Tebrikler</h3>
          <p>Görüşme Talebini onayladınız. Oturum sekmesinden taleplerinizi takip edebilirsiniz.</p>
        </div>
      </app-modal>

      Reddetme Nedeni 
      <form style="width: 100%;">

        <app-modal #rejectionReasonModal [modalConfig]="modalConfigRejectionReason" aria-modal="true">
          <div class="row">
            <!-- <div class="character-count">Kalan Karakter Sayısı: {{ characterCount }} / 300</div> -->
            <textarea class="form-control" formControlName="rejectionReason" [ngClass]="form.get('rejectionReason')?.invalid ? 'border-danger' : 'border-primary'" maxlength="300" placeholder="Reddetme sebebini giriniz..." (input)="updateCharacterCount()"></textarea>
            <button [disabled]="!form.valid" class="btn btn-primary btn-margin col-xs-12" style="width: 100%;margin-top:10px;" (click)="openrejectionReasonSuccessModal()" >Gönder</button>
          </div>
        </app-modal>
      </form>
      <app-modal #rejectionReasonSuccess [modalConfig]="successModalConfig2" aria-modal="true">
        <div class="col-xs-12 text-center">
          <i class="fa-solid fa-check call-tick"></i>
          <!-- <h3>Tebrikler</h3> -->
          <p>Reddetme İşleminiz Yapımıştır.</p>
        </div>
      </app-modal>
</ng-container>

