<style>
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .ng-invalid.ng-touched {
    border-color: red;
  }
</style>
<ng-container style="max-width: 560px;display: block;margin:0 auto;text-align: center;">
  <div class="d-flex align-items-center mb-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 100%;">

      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6">Ürün Adını Giriniz</label>
        <div class="col-lg-8 fv-row">
          <input type="text" class="form-control form-control-lg" placeholder="Örn;cam, DC Motor" name="name"
            [value]="result ? result.tags : ''" formControlName="name" />
          <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
            Ürün ismi gerekli.
          </div>
          <div *ngIf="itemId && form.get('name')?.pristine && form.get('name')?.value !== ''" class="text-danger mt-2">
            Revize Gerekli</div>

        </div>
      </div> -->
      <!-- ÇağrıAdı -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6">Çağrı adı</label>
        <div class="col-lg-8 fv-row">

          <input type="text" class="form-control form-control-lg" name="name"
            [value]="result ? result.tags : ''" formControlName="name"  [(ngModel)]="createCall.cagriadi"/>
          <!-- <input type="text" class="form-control form-control-lg" name="name"
            [value]="result ? result.tags : ''" formControlName="name" /> -->
          <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
            Çağrı Adı gerekli.
          </div>
          <div *ngIf="itemId && form.get('name')?.pristine && form.get('name')?.value !== ''" class="text-danger mt-2">
            Revize Gerekli</div>

        </div>
      </div>

      <!-- Sektör  sectors-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">Sektör</label>
        <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.sectors">
          <select class="form-select mb-5" aria-label="Select example" formControlName="sectors">
            <option *ngFor="let option of DropdowDatas.sectors" [value]="option.sectorId">{{ option.name }}</option>
          </select>
        </div>
        <div
          *ngIf="itemId &&form.get(DropdowDatas.sectors.name)?.pristine && form.get(DropdowDatas.sectors.name)?.value !== '' "
          class="text-danger mt-2">Revize Gerekli
        </div>
        <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.sectors">
          <select class="form-select mb-5" aria-label="Select example" formControlName="sectors">
            <option>Kayıt bulunamadı</option>
          </select>
        </div>
      </div>

      <!-- Sertifika  certificationDocumnets -->
      <!-- dropdown single -->
      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">Sertifikasyon ve Belgeler</label>
        <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.certificationDocumnets">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option *ngFor="let option of DropdowDatas.certificationDocumnets" [value]="option.certificationDocumentId">
              {{ option.name }}</option>
          </select>
        </div>
        <div
          *ngIf="itemId &&form.get(DropdowDatas.certificationDocumnets.name)?.pristine && form.get(DropdowDatas.certificationDocumnets.name)?.value !== '' "
          class="text-danger mt-2">Revize Gerekli
        </div>
        <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.certificationDocumnets">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option>Kayıt bulunamadı</option>
          </select>
        </div>
      </div> -->
     <!-- Sertifikasyon ve Belgeler Çoklu Seçim multi -->
     <div class="row mb-6">
      <label class="col-lg-4 col-form-label fw-bold fs-6">Sertifikasyon ve Belgeler</label>
      <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.certificationDocumnets">
        <mat-form-field class="col-lg-12">

          <mat-select [multiple]="true" class="form-select mb-5" aria-label="Select example"
            formControlName="certificationDocumnets">
            <mat-option *ngFor="let option of DropdowDatas.certificationDocumnets" [value]="option.certificationDocumentId">{{ option.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div
        *ngIf="itemId &&form.get(DropdowDatas.certificationDocumnets.name)?.pristine && form.get(DropdowDatas.certificationDocumnets.name)?.value !== '' "
        class="text-danger mt-2">Revize Gerekli
      </div>
      <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.certificationDocumnets">
        <select class="form-select mb-5" aria-label="Select example" formControlName="certificationDocumnets">
          <option>Kayıt bulunamadı</option>
        </select>
      </div>
    </div>

      <!-- GTİP Bilgisi gtipList -->
      <!-- todo name mi olacak yoksa code mu  -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">GTİP Bilgisi</label>
        <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.gtipList">
          <select class="form-select mb-5" aria-label="Select example" formControlName="gtipList">
            <option *ngFor="let option of DropdowDatas.gtipList" [value]="option.gtipId">{{ option.name }}</option>
          </select>
        </div>
        <div
          *ngIf="itemId &&form.get(DropdowDatas.gtipList.name)?.pristine && form.get(DropdowDatas.gtipList.name)?.value !== '' "
          class="text-danger mt-2">Revize Gerekli
        </div>
        <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.gtipList">
          <select class="form-select mb-5" aria-label="Select example" formControlName="gtipList">
            <option>Kayıt bulunamadı</option>
          </select>
        </div>
      </div>

      <!-- Adet  count-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6">Adet </label>
        <div class="col-lg-8 fv-row">

          <input type="number" class="form-control form-control-lg" name="count"
          [value]="result ? result.tags : ''" formControlName="count"  [(ngModel)]="createCall.adet"/>

          <!-- <input type="text" class="form-control form-control-lg" name="piece"
            [value]="result ? result.tags : ''" formControlName="piece" /> -->

            
          <div *ngIf="form.get('count')?.invalid && form.get('count')?.touched" class="error-message">
            Adet Bilgisi gerekli.
          </div>
          <div *ngIf="itemId &&form.get('count')?.pristine && form.get('count')?.value !== ''" class="text-danger mt-2">
            Revize Gerekli</div>
        </div>
      </div>
      <!-- Genişlik width -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label  fw-bold fs-6">Genişlik</label>
        <div class="col-lg-8 fv-row">

          <input type="number" class="form-control form-control-lg" name="width"
          [value]="result ? result.tags : ''" formControlName="width"  [(ngModel)]="createCall.genislik"/>

          <!-- <input type="text" class="form-control form-control-lg" name="piece"
            [value]="result ? result.tags : ''" formControlName="piece" /> -->

        </div>
      </div>

      <!-- Boy lenght -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label  fw-bold fs-6">Boy</label>
        <div class="col-lg-8 fv-row">

          <input type="number" class="form-control form-control-lg" name="lenght"
          [value]="result ? result.tags : ''" formControlName="lenght"  [(ngModel)]="createCall.boy"/>

          <!-- <input type="text" class="form-control form-control-lg" name="piece"
            [value]="result ? result.tags : ''" formControlName="piece" /> -->

        </div>
      </div>

      <!-- yükseklik height -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label  fw-bold fs-6">Yükseklik</label>
        <div class="col-lg-8 fv-row">

          <input type="number" class="form-control form-control-lg" name="height"
          [value]="result ? result.tags : ''" formControlName="height"  [(ngModel)]="createCall.yukseklik"/>

          <!-- <input type="text" class="form-control form-control-lg" name="piece"
            [value]="result ? result.tags : ''" formControlName="piece" /> -->

        </div>
      </div>

      <!-- Ağırlık weight -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label  fw-bold fs-6">Ağırlık</label>
        <div class="col-lg-8 fv-row">

          <input type="number" class="form-control form-control-lg" name="weight"
          [value]="result ? result.tags : ''" formControlName="weight"  [(ngModel)]="createCall.agirlik"/>

          <!-- <input type="text" class="form-control form-control-lg" name="piece"
            [value]="result ? result.tags : ''" formControlName="piece" /> -->

        </div>
      </div>
        <!-- Konum -->
      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">Konum Seç</label>
        <div class="col-lg-8">
          <input type="text" class="form-control mb-2" placeholder="Arama..." [formControl]="searchTerm">
          <select class="form-select mb-5" aria-label="Select example" formControlName="adress">
            <option *ngFor="let option of filteredAdresses" [value]="option.title">{{ option.title }}</option>
          </select>
          <div *ngIf="itemId && form.get('adress')?.pristine && form.get('adress')?.value !== ''"
            class="text-danger mt-2">Revize Gerekli</div>
        </div>
      </div> -->

      <!-- dropdown for döngü -->
      <!-- <div *ngFor="let item of filters" class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">{{item.label}}</label>
        <div class="col-lg-8">
          <select class="form-select  mb-5 " aria-label="Select example" formControlName="{{item.name}}">
            <option *ngFor="let option of item.options" value="{{option.value}}"
              [selected]="result ? option.value == result[item.name] : null">{{option.name}}</option>
          </select>
          <div *ngIf="itemId &&form.get(item.name)?.pristine && form.get(item.name)?.value !== '' "
            class="text-danger mt-2">Revize Gerekli</div>
        </div>
      </div>
 -->



      <!-- sektör taslak -->
      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">sektöre doğru</label>
        <div class="col-lg-8">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak">
            <option *ngFor="let option of sectorsTaslak" [value]="option.sectorId"
              (selectChange)="option.sectorName = $event">{{ option.sectorName }}</option>
          </select>
        </div>
      </div> -->

      <!-- şirket Adresi  companyAddresses-->
      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">Şirket Adresi</label>
        <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.companyAddresses">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option *ngFor="let option of DropdowDatas.companyAddresses" [value]="option.id">{{ option.name }}</option>
          </select>
        </div>
        <div
          *ngIf="itemId &&form.get(DropdowDatas.companyAddresses.name)?.pristine && form.get(DropdowDatas.companyAddresses.name)?.value !== '' "
          class="text-danger mt-2">Revize Gerekli
        </div>
        <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.companyAddresses">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option>Kayıt bulunamadı</option>
          </select>
        </div>
      </div> -->

      
      

      <!--naceCode -->
      <!-- todo nacecode4 müü 6 mı ona bakılacak -->
      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">NACE Kodu</label>
        <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.naceCode">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option *ngFor="let option of DropdowDatas.naceCode" [value]="option.naceCodeId">{{ option.naceCode4 }}
            </option>
          </select>
        </div>
        <div
          *ngIf="itemId &&form.get(DropdowDatas.naceCode.naceCode4)?.pristine && form.get(DropdowDatas.naceCode.naceCode4)?.value !== '' "
          class="text-danger mt-2">Revize Gerekli
        </div>
        <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.naceCode">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option>Kayıt bulunamadı</option>
          </select>
        </div>
      </div> -->
      <!-- supplierType -->
      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">İşletme Tipi</label>
        <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.supplierType">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option *ngFor="let option of DropdowDatas.supplierType" [value]="option.companyId">{{ option.supType }}
            </option>
          </select>
        </div>
        <div
          *ngIf="itemId &&form.get(DropdowDatas.supplierType.supType)?.pristine && form.get(DropdowDatas.supplierType.supType)?.value !== '' "
          class="text-danger mt-2">Revize Gerekli
        </div>
        <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.supplierType">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option>Kayıt bulunamadı</option>
          </select>
        </div>
      </div> -->

      
 

      <!-- statisticalRegions -->
      <!-- todo verilerine bakılacak -->
      <!-- <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">İstatistiki Bölge</label>
        <div class="col-lg-8" *ngIf="DropdowDatas && DropdowDatas.statisticalRegions">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option *ngFor="let option of DropdowDatas.statisticalRegions" [value]="option.regionId">{{ option.gradeName
              }}</option>
          </select>
        </div>
        <div
          *ngIf="itemId &&form.get(DropdowDatas.statisticalRegions.gradeName)?.pristine && form.get(DropdowDatas.gtipList.gradeName)?.value !== '' "
          class="text-danger mt-2">Revize Gerekli
        </div>
        <div class="col-lg-8" *ngIf="!DropdowDatas || !DropdowDatas.statisticalRegions">
          <select class="form-select mb-5" aria-label="Select example" formControlName="taslak2">
            <option>Kayıt bulunamadı</option>
          </select>
        </div>
      </div> -->


      <!-- İhtiyacınızı Detaylı Olarak Anlatın  description-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6">İhtiyacınızı Detaylı Olarak Anlatın</label>
        <div class="col-lg-8 fv-row">
          <textarea name="description" class="form-control form-control-lg " rows="3"
            placeholder="Lütfen almak istediğiniz ürün/hizmet veya hizmeti tanımlayınız."
            formControlName="description" minlength="{{minLength}}" maxlength="{{maxLength}}">
                    </textarea>
          <div
            *ngIf="(form.get('description')?.invalid && form.get('description')?.touched) || form.get('description')?.getError('invalid')"
            class="error-message">
            Lütfen en az {{minLength}} karakter, en fazla {{maxLength}} karakter girişi yapın.
          </div>
          <div
            *ngIf="itemId && form.get('description')?.pristine && form.get('description')?.value !== ''"
            class="text-danger mt-2">Revize Gerekli</div>
        </div>
      </div>

      <div class="row mb-6">
        <div class="col-5 form-check">
          <!-- <input class="form-check-input" type="checkbox" name="isQuestionable" formControlName="isQuestionable" (click)="isQuestionable()"
            id="isQuestionable" /> -->
          <input class="form-check-input" type="checkbox" name="isQuestionable" formControlName="isQuestionable"
            (change)="isQuestionable($event)" id="isQuestionable" />

          <label class="form-check-label text-black" for="isQuestionable">KOBI'ler soru sorabilsin</label>
        </div>
        <div class="col-5 form-check">
          <input class="form-check-input" type="checkbox" name="showFAQ" formControlName="showFAQ" id="showFAQ"
            (change)="toggleFAQ()" />
          <label class="form-check-label text-black" for="showFAQ">Sık Sorulan Sorular Gösterilsin</label>
        </div>

        <div class="mt-3" *ngIf="showFAQ">
          <div *ngFor="let question of faqQuestions; let i = index" class="faq-item">
            <div class="form-group">
              <input [(ngModel)]="faqQuestions[i].question" class="form-control" placeholder="Soru" required />
            </div>
            <div class="form-group">
              <textarea [(ngModel)]="faqQuestions[i].answer" class="form-control" placeholder="Cevap"
                required></textarea>
            </div>
            <button (click)="removeFAQ(i)" class="btn btn-danger">Sil</button>
          </div>
          <button (click)="addFAQ()" class="btn btn-primary mt-3">+</button>
        </div>


      </div>
      <hr />
      <p> İşle ilgili varsa, örnek görsel ve metin eklemen tedarikçilerin işi daha rahat anlamalarını sağlar.</p>
      <div class="drop-zone" (drop)="dosyaBirak($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)">
        <input type="file" (change)="dosyaSec($event)" style="display: none">
        <p><a href="javascript:void(0);" (click)="dosyaSecManuel()">Dosyayı buraya sürükleyip bırakın veya tıklayarak
            dosya seçin</a>.</p>
      </div>


      <div *ngIf="yuklenenDosyalar.length > 0">
        <h3>Yüklenen Dosyalar</h3>
        <ul>
          <li *ngFor="let dosya of yuklenenDosyalar">{{ dosya.name }}</li>
        </ul>
      </div>

      <div *ngIf="isEnabledError">
        <p class="error-message" style="text-align: right;font-size: 14px;">Lütfen Tüm Alanları Doldurun</p>

      </div>
      <button class="btn btn-primary flex-grow-1 mt-6" style="float:right">Yayınla</button>
    </form>
  </div>

  <app-modal #modal [modalConfig]="modalConfig" aria-modal="true">
    <div class="col-xs-12 text-center">
      <i class="fa-solid fa-check call-tick"></i>
      <h3>Tebrikler</h3>
      <p>Çağrınız oluştu</p>
      <a routerLink="/calls" (click)="closeModal()">Çağrılarım -></a>
    </div>
  </app-modal>

  <app-modal #kobiSoru [modalConfig]="modalConfig" aria-modal="true">
    <div class="col-xs-12 text-center">
      <!-- <label class="col-lg-4 col-form-label required fw-bold fs-6">Soru Giriniz</label> -->
      <!-- <input type="text" class="form-control form-control-lg" placeholder="Soru" name="name"
            [value]="result ? result.tags : ''" formControlName="name" /> -->
      <!-- <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
            Soru Gerekli
          </div>
          <div *ngIf="itemId && form.get('name')?.pristine && form.get('name')?.value !== ''" class="text-danger mt-2">Revize Gerekli</div> -->
      <!-- <input class="form-check-input" type="checkbox" name="showFAQ" formControlName="showFAQ" id="showFAQ"/>
            <label class="form-check-label text-black" for="showFAQ">Tüm kobiler soruyu soran kobinin sorusunu ve cevabını görsün mü?</label> -->

      <!-- <label class="form-check-label text-black">Tüm kobiler soruyu soran kobinin sorusunu ve cevabını görsün
        mü?</label>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-success">
          <input type="radio" name="showFAQ" id="showFAQEvet" value="1"> Evet
        </label>
        <label class="btn btn-danger">
          <input type="radio" name="showFAQ" id="showFAQHayir" value="0"> Hayır
        </label>
      </div> -->
      <label class="form-check-label text-black">Tüm kobiler soruyu soran kobinin sorusunu ve cevabını görsün
        mü?</label>
      <div class="btn-group" role="group" aria-label="Evet veya Hayır seçeneği">
        <button type="button" class="btn btn-success" id="showFAQEvet" value="1">Evet</button>
        <button type="button" class="btn btn-danger" id="showFAQHayir" value="0">Hayır</button>
      </div>


    </div>
  </app-modal>

</ng-container>