.list-group-item {
    background-color: #f8f9fa; /* Arka plan rengi */
    border: 1px solid #ced4da; /* Kenarlık rengi */
    margin-bottom: 10px; /* Elemanlar arası boşluk */
  }
  
  .list-group-item h5 {
    font-weight: bold;
  }
  
  .list-group-item small {
    color: #6c757d; /* Küçük metin rengi */
  }
  