
<ng-container >
    <div class="d-flex justify-content-end mb-4 ">
        <div class="justify-content-between list-div bg-white">
            <div class="d-inline p-2 toggle-btn" [ngClass]="isList ? 'active' : 'bg-white'">
                <i class="fa-solid fa-list fa-big"  (click)="listOrCard(true)"></i>
            </div>
            <div class="d-inline p-2 toggle-btn" [ngClass]="!isList ? 'active' : 'bg-white'">
                <i class="fa-solid fa-table-cells-large fa-big"  (click)="listOrCard(false)"></i>
            </div>
        </div>
    </div>
    <div *ngIf="!isList" class="row" >
    <div class="col-md-4 col-xs-12" *ngFor="let item of trigClick">
        <div class="card p-2 text-center" >
            <div class="card-header">
                <div class="w-100"><p class="title-sector" style="background-color: {{item.badgetColor}};">{{item.badget}}</p></div>
                <h3 style="margin:0 auto;">{{item.title}}</h3>
                <p class="tags">{{item.tags}}</p>
            </div>
            <div class="card-body">
                <h5 class="text-upperCase"><b>{{item.badget}} Kullanıcısı Şirketin;</b></h5>
                <div>
                    <a class="btn btn-dark btn-active-bg-success col-12" *ngFor="let listItem of item.url;let i = index"   href="javascript:;" (click)="openModal(i)">{{listItem.name}} -></a>
                   
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="openOfferModal()">Görüşme Talebi</button>
            </div>
        </div>
    </div>
    </div>

    <div *ngIf="isList">
         <div class="card mt-5" *ngFor="let item of trigClick">
            <div class="card-header mt-5 card-header-list ">
                <h3>{{item.title}}</h3>
            </div>
            <div class="card-body d-flex flex-row justify-content-between card-body-list">
                <div>
                    <span class="country-name">TR</span>
                </div>
                <div>
                    <div class="w-100"><p class="title-sector" style="background-color: {{item.badgetColor}};">{{item.badget}}</p></div>
                </div>
                <div>
                    <p class="tags">{{item.tags}}</p>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="openOfferModal()">Görüşme Talebi</button>
                </div>
            </div>
            <div class="card-footer d-flex flex-row justify-content-between">
                <a class="btn btn-dark btn-active-bg-success btn-list" *ngFor="let listItem of item.url;let i = index"   href="javascript:;" (click)="openModal(i)">{{listItem.name}} -></a>
            </div>
         </div> 
    </div>
      
    
    <app-modal #modal [modalConfig]="modalConfig" aria-modal="true">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action"
                     *ngFor="let tab of tabs; let i = index"
                     [class.active]="i === activeTabIndex"
                     [id]="'list-' + tab.id + '-list'"
                     data-toggle="list"
                     role="tab"
                     [attr.aria-controls]="tab.id"
                     (click)="showTabContent(i)">
                    {{ tab.label }}
                  </a>
                </div>
          
          </div>
          <div class="col-md-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade"
                   *ngFor="let tab of tabs; let i = index"
                   [class.show]="i === activeTabIndex"
                   [class.active]="i === activeTabIndex"
                   [id]="tab.id"
                   role="tabpanel"
                   [attr.aria-labelledby]="'list-' + tab.id + '-list'">
                <p>{{ tab.content }}</p>
                
              </div>
            </div>
          </div>
        </div>
        </div>
      </app-modal>
      <app-modal #offermodal [modalConfig]="modalOfferConfig" aria-modal="true">
        <div class="container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 100%;">
            <div class="mt-3">
                <label>Firma Yetkilisi</label>
                <input name="firmAuthority" class="form-control" [ngClass] = "form.get('firmAuthority')?.invalid ? 'border-danger' : 'border-primary'" type="text" value="" formControlName="firmAuthority"/>
            </div>
            <div class="mt-3">
                <label>Teklif Başlığı</label>
                <input name="offerTitle" class="form-control" [ngClass] = "form.get('offerTitle')?.invalid ? 'border-danger' : 'border-primary'" type="text"  value="" formControlName="offerTitle"/>
            </div>
            <div class="mt-3">
                <label>Açıklama</label>
                <textarea name="offerDescription" class="form-control" [ngClass] = "form.get('offerDescription')?.invalid ? 'border-danger' : 'border-primary'" tabindex="2" value="" formControlName="offerDescription"></textarea>
            </div>
            <div class="mt-3">
                <label>Öngörülen Görüşme Tarihi</label>
                <input name="offerDate"  class="form-control" [ngClass] = "form.get('offerDate')?.invalid ? 'border-danger' : 'border-primary'" type="date" formControlName="offerDate"/>
            </div>
            <div *ngIf="isEnabledError">
                <p class="error-message mt-3" style="text-align: right;font-size: 14px;">Lütfen Tüm Alanları Doldurun</p>
               
               </div>
               <button class="btn btn-primary flex-grow-1 mt-3" style="float:right">Gönder</button>
            </form>
        </div>
      </app-modal>
      <app-modal #success [modalConfig]="modalConfig" aria-modal="true">
        <div class="col-xs-12 text-center">
          <i class="fa-solid fa-check call-tick"></i>
          <h3>Tebrikler</h3>
          <p>Teklif İsteğiniz Oluşturuldu</p>
        </div>
      </app-modal>
</ng-container>
