<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder text-dark">İlgili Büyük işletmeler</span>
    <span class="text-muted mt-1 fw-bold fs-7">4 Görüntülenen</span>
  </h3>

  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->

<!-- begin::Body -->
<div class="card-body pt-5">
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Symbol -->
    <div class="symbol symbol-50px me-5">
        <div class="symbol symbol-50px me-5">
          <img src="./assets/media/logos/bmw.png" class="" alt="" />
        </div>      
    </div>
    <!-- end::Symbol -->
    <!-- begin::Text -->
    <div class="d-flex flex-column">
      <a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">
        BMW Grup
      </a>
      <span class="text-muted fw-bold">Otomotiv şanzımanları ve dişli kutuları üretimi konusunda faaliyet gösteren bir Türk firmasıdır.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Symbol -->
    <div class="symbol symbol-50px me-5">
      <div class="symbol symbol-50px me-5">
        <img src="./assets/media/logos/bil1.jpeg" class="" alt="" />
      </div>
    </div>
    <!-- end::Symbol -->
    <!-- begin::Text -->
    <div class="d-flex flex-column">
      <a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">
        Hyundai Motor
      </a>
      <span class="text-muted fw-bold">Otomotiv, tarım, inşaat ve savunma sanayi gibi farklı sektörlere şanzıman ürünleri sağlayan bir firmadır.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Symbol -->
    <div class="symbol symbol-50px me-5">
      <div class="symbol symbol-50px me-5">
        <img src="./assets/media/logos/bil2.jpeg" class="" alt="" />
      </div>
    </div>
    <!-- end::Symbol -->
    <!-- begin::Text -->
    <div class="d-flex flex-column">
      <a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">
        BMC
      </a>
      <span class="text-muted fw-bold">Ant Teknik, dişli ve şanzıman üretimi alanında Türkiye'nin önde gelen firmalarından biridir.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <div class="d-flex align-items-center mb-7">
    <!-- begin::Symbol -->
    <div class="symbol symbol-50px me-5">
      <div class="symbol symbol-50px me-5">
        <img src="./assets/media/logos/bil3.jpeg" class="" alt="" />
      </div>
    </div>
    <!-- end::Symbol -->
    <!-- begin::Text -->
    <div class="d-flex flex-column">
      <a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">
        SAIC Motor.
      </a>
      <span class="text-muted fw-bold">Otomasyon sistemleri ve endüstriyel otomasyon ekipmanları, şanzıman ve dişli üretimi yapmaktadır.</span>
    </div>
    <!-- end::Text -->
  </div>
  <!-- end::Item -->
  <!-- begin::Item -->
  <!--<div class="d-flex align-items-center">
    <div class="symbol symbol-50px me-5">
      <span class="symbol-label bg-light-info">
        <app-keenicon name="security-user" class="fs-2x text-info"></app-keenicon>
      </span>
    </div>

    <div class="d-flex flex-column">
      <a href="#" class="text-dark text-hover-primary fs-6 fw-bolder">
        Alkar Otomotiv Endüstri A.Ş.
      </a>
      <span class="text-muted fw-bold">Alkar Otomotiv, otomotiv yedek parçaları ve aksesuarları üretimi yapmaktadır, bu kapsamda şanzıman parçaları da üretmektedir.</span>
    </div>
  </div>-->
</div>
<!-- end::Body -->
