<ng-container>
    <mat-tab-group fitInkBarToContent>
      <mat-tab label="Tekliflerim">
        <table mat-table [dataSource]="trigClick" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="TeklifId">
              <th mat-header-cell *matHeaderCellDef> Çağrı </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="CagrıAdi">
              <th mat-header-cell *matHeaderCellDef> Çağrı Adı</th>
              <td mat-cell *matCellDef="let element"> {{element.callName}} </td>
            </ng-container>
            <ng-container matColumnDef="FirmaAdi">
              <th mat-header-cell *matHeaderCellDef> Firma Adı</th>
              <td mat-cell *matCellDef="let element"> {{element.firmName}} </td>
            </ng-container>
            <!-- Weight Column -->
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="TeklifTarihi">
              <th mat-header-cell *matHeaderCellDef> Teklif Tarihi </th>
              <td mat-cell *matCellDef="let element"> {{element.offerDate}} </td>
            </ng-container>
            <ng-container matColumnDef="TeklifStatusu">
                <th mat-header-cell *matHeaderCellDef> Teklif Statüsü </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-tab>
        <mat-tab label="Görüşme Taleplerim">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="CozumId">
              <th mat-header-cell *matHeaderCellDef> Çağrı </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="CozumAdi">
              <th mat-header-cell *matHeaderCellDef> Çözüm Adı</th>
              <td mat-cell *matCellDef="let element"> {{element.solutionName}} </td>
            </ng-container>
            <ng-container matColumnDef="FirmaAdi">
              <th mat-header-cell *matHeaderCellDef> Firma </th>
              <td mat-cell *matCellDef="let element"> {{element.solutionName}} </td>
            </ng-container>
            <ng-container matColumnDef="FirmaYetkilisi">
              <th mat-header-cell *matHeaderCellDef> Firma Yetkilisi</th>
              <td mat-cell *matCellDef="let element"> {{element.firmAuthority}} </td>
            </ng-container>
            <!-- Weight Column -->
          
            <!-- Symbol Column -->

            <ng-container matColumnDef="YetkiliAjandasi">
                <th mat-header-cell *matHeaderCellDef> Yetki Ajandası </th>
                <td mat-cell *matCellDef="let element"> <button class="btn btn-primary">Randevu Oluştur</button> </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </mat-tab>
    </mat-tab-group>
      <app-modal #acceptmodal [modalConfig]="modalAcceptConfig" aria-modal="true">
        <div class="col-xs-12 text-center">
          <p>Teklif Talebini Kabul Ettiniz. Teklif talebini B2B zekası modülü, Görüşmelerim sekmesinden görüntüleyebilirsiniz!</p>
        </div>
      </app-modal>
</ng-container>
