<ng-container *ngIf="user$ | async as _user">
  <mat-tab-group fitInkBarToContent>
    <mat-tab  label="Gelen Başvurular">
      <div>

        <button *ngIf="_user.roles === 1" type="button"  (click)="acRandevuModal()" class="btn btn-success btn-margin">KOSGEB'ten Görüşme Talep Et</button>
        <button *ngIf="_user.roles === 1" type="button" class="btn btn-danger btn-margin">Reddet</button>
      </div>
      <table mat-table [dataSource]="trigClick" class="mat-elevation-z8" *ngIf="(_user.roles !== 3 && _user.roles !== 6)">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="TeklifId">
          <th mat-header-cell *matHeaderCellDef> Çağrı </th>
          <td mat-cell *matCellDef="let element" >
            <input *ngIf="_user.roles===1" type="checkbox" class="form-check-input">
            {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="CagrıAdi">
          <th mat-header-cell *matHeaderCellDef> Çağrı Adı</th>
          <td mat-cell *matCellDef="let element" > {{element.callName}} </td>
        </ng-container>
        <ng-container matColumnDef="FirmaAdi">
          <th mat-header-cell *matHeaderCellDef> Firma Adı</th>
          <td mat-cell *matCellDef="let element" > {{element.firmName}} </td>
        </ng-container>
        <!-- Weight Column -->
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="TeklifTarihi">
          <th mat-header-cell *matHeaderCellDef> Teklif Tarihi </th>
          <td mat-cell *matCellDef="let element" > {{element.offerDate}} </td>
        </ng-container>
        <ng-container matColumnDef="TeklifStatusu">
            <th mat-header-cell *matHeaderCellDef> {{_user.roles === 2 ? 'Başvuru Statüsü': 'Aksiyon'}} </th>
            <td mat-cell *matCellDef="let element" > 
              <div *ngIf = "_user.roles !== 2 ">
                <button type="button"  (click)="acRandevuModal()" class="btn btn-success btn-margin">KOSGEB'ten Görüşme Talep Et</button>
              <button type="button" class="btn btn-danger btn-margin">Reddet</button>
              </div>
              <span *ngIf = "_user.roles === 2">Beklemede</span>
              

            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </mat-tab>
      <mat-tab label="Çağrıyı Görüntüleyenler">
        <mat-table [dataSource]="dataViews" class="mat-elevation-z8">
          <!-- İşletme Adı Sütunu -->
          <ng-container matColumnDef="companyName">
            <mat-header-cell *matHeaderCellDef> İşletme Adı </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.companyName }}</mat-cell>
          </ng-container>
        
          <!-- Sektör Sütunu -->
          <ng-container matColumnDef="sektor">
            <mat-header-cell *matHeaderCellDef> Sektör </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.sektor }}</mat-cell>
          </ng-container>
        
          <!-- Tarih Sütunu -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Tarih </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.date }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button class="btn btn-primary">Başvurmaya Davet Et</button>
            </mat-cell>
          </ng-container>
        
          <!-- Sütun Tanımlamaları -->
          <mat-header-row *matHeaderRowDef="['companyName', 'sektor', 'date','actions']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['companyName', 'sektor', 'date','actions']"></mat-row>
        </mat-table>
      </mat-tab>
      
      <mat-tab  label="Onaya Gönderilenler">
        <table mat-table [dataSource]="trigClick" class="mat-elevation-z8" *ngIf="(_user.roles !== 3 && _user.roles !== 6)">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="TeklifId">
            <th mat-header-cell *matHeaderCellDef> Çağrı </th>
            <td mat-cell *matCellDef="let element" >
              {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="CagrıAdi">
            <th mat-header-cell *matHeaderCellDef> Çağrı Adı</th>
            <td mat-cell *matCellDef="let element" > {{element.callName}} </td>
          </ng-container>
          <ng-container matColumnDef="FirmaAdi">
            <th mat-header-cell *matHeaderCellDef> Firma Adı</th>
            <td mat-cell *matCellDef="let element" > {{element.firmName}} </td>
          </ng-container>
          <!-- Weight Column -->
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="TeklifTarihi">
            <th mat-header-cell *matHeaderCellDef> Teklif Tarihi </th>
            <td mat-cell *matCellDef="let element" > {{element.offerDate}} </td>
          </ng-container>
          <ng-container matColumnDef="TeklifStatusu">
              <th mat-header-cell *matHeaderCellDef> {{_user.roles === 2 ? 'Başvuru Statüsü': 'Aksiyon'}} </th>
              <td mat-cell *matCellDef="let element" > 
                <div *ngIf = "_user.roles !== 2 ">
                  <button type="button" class="btn btn-success btn-margin">Onayla</button>
                <button type="button" class="btn btn-danger btn-margin">Reddet</button>
                </div>
                <span *ngIf = "_user.roles === 2">Beklemede</span>
                
  
              </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</mat-tab>
      </mat-tab-group>
        
      <app-modal #acceptmodal [modalConfig]="modalAcceptConfig" aria-modal="true">
        <div class="col-xs-12 text-center">
          <p>Teklif Talebini Kabul Ettiniz. Teklif talebini B2B zekası modülü, Görüşmelerim sekmesinden görüntüleyebilirsiniz!</p>
        </div>
      </app-modal>
      <app-modal #meetingModal [modalConfig]="modalCreateMeetingConfig" aria-modal="true">
        <div class="container row" >
          <div class="col-12">
            <div class="mt-4">
              <h4 class="mt-4">Büyük İşletme Bilgisi</h4>
              <div class="form-control mt-4 ">
                <h5 class="mt-4">Isuzu</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda autem deserunt adipisci sunt? Eveniet dolores neque saepe velit totam numquam possimus, doloremque distinctio, perspiciatis est voluptates ab quasi consectetur.</p>
              </div>
            </div>
          </div>

          <div class="col-6 mt-4">
            <h4 class="mt-4">Çağrı</h4>
            <h5 class="form-control mt-4">{{selectedOffer.callName}}</h5>

            <h4 class="mt-4">Çağrı Detayı</h4>
            <p class="form-control mt-4">{{selectedOffer.callName}} hakkında detaylı bilgi</p>
          </div>
          <div  class="col-6 mt-4">
            <h4 class="mt-4">Firma Yetkilisi</h4>
            <h6 class="form-control mt-4">Gizem Turanlı</h6>
            <h4 class="mt-4">Teklif Başlığı</h4>
            <h6 class="form-control mt-4">Teklif Başlığı</h6>
          </div>

          <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary btn-margin" (click)="closeMeetingModal()">Toplantı Oluştur</button>
            <button class="btn btn-danger" (click)="closeMeetingModal()" >Kapat</button>
          </div>
      </div>
      </app-modal>
      
      <app-modal #meet [modalConfig]="modalMeetConfig" aria-modal="true">
        <div class="col-xs-12 text-center">
          <p>Lütfen uygun tarihlerinizi seçiniz</p>
          <div class="calendar-container">
            <div class="row text-center mt-5">
              <div class="col-md-8">
                <div class="btn-group">
                  <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                  >
                    Önceki
                  </div>
                  <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                  >
                    Bugün
                  </div>
                  <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                  >
                    Sonraki
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h3>
                  {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
                </h3>
              </div>
            </div>
            <div [ngSwitch]="view">
              <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="onDayClick($event.day)"
              >
              </mwl-calendar-month-view>
              <mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                [events]="events"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays"
              >
              </mwl-calendar-week-view>
              <mwl-calendar-day-view
                *ngSwitchCase="'day'"
                [viewDate]="viewDate"
                [events]="events"
                [locale]="locale"
              >
              </mwl-calendar-day-view>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-secondary" (click)="selectHour()">Devam</button>
        </div>
      </app-modal>
      

      
      <table *ngIf="_user.roles === 3 || _user.roles === 6" mat-table [dataSource]="trigClick" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="TeklifId">
          <th mat-header-cell *matHeaderCellDef> Çağrı </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="CagrıAdi">
          <th mat-header-cell *matHeaderCellDef> Çağrı Adı</th>
          <td mat-cell *matCellDef="let element"> {{element.callName}} </td>
        </ng-container>
        <ng-container matColumnDef="FirmaAdi">
          <th mat-header-cell *matHeaderCellDef> Firma Adı</th>
          <td mat-cell *matCellDef="let element"> {{element.firmName}} </td>
        </ng-container>
        <!-- Weight Column -->
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="TeklifTarihi">
          <th mat-header-cell *matHeaderCellDef> Teklif Tarihi </th>
          <td mat-cell *matCellDef="let element"> {{element.offerDate}} </td>
        </ng-container>
        <ng-container matColumnDef="TeklifStatusu">
            <th mat-header-cell *matHeaderCellDef> Teklif Statüsü </th>

            <td mat-cell *matCellDef="let element" [class]="element.status === 'Onaylandı' ? 'green':0" (click) = "element.status === 'Onaylandı' ? createMeeting(element) : null "> {{element.status}}</td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</ng-container>