:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
.fade:not(.show){
  opacity: 1;
}
.nav-link{
  cursor: pointer;
}

.btn-e-devlet {
  background-color: #b30d0d !important;
  background-image: url('../../../../../assets/media/logos/e-devlet.png') !important;
  background-position-x: 8px;
  background-position-y: center;
  background-repeat: no-repeat;
}
