<style>
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .ng-invalid.ng-touched {
    border-color: red;
  }
</style>
<ng-container style="max-width: 560px;display: block;margin:0 auto;text-align: center;">
  <div class="d-flex align-items-center mb-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 100%;">

      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6">Ürün Adını Giriniz</label>
        <div class="col-lg-8 fv-row">
          <input type="text" class="form-control form-control-lg" placeholder="Örn;cam, DC Motor" name="name"
            [value]="result ? result.tags : ''" formControlName="name" />
          <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
            Ürün ismi gerekli.
          </div>
          <div *ngIf="form.get('name')?.dirty" class="text-danger mt-2">Revize Gerekli</div>

        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6">Adet Bilgisi Giriniz</label>
        <div class="col-lg-8 fv-row">
          <input type="text" class="form-control form-control-lg" placeholder="Örn;20000" name="piece"
            [value]="result ? result.tags : ''" formControlName="piece" />
          <div *ngIf="form.get('piece')?.invalid && form.get('piece')?.touched" class="error-message">
            Adet Bilgisi gerekli.
          </div>
          <div *ngIf="form.get('piece')?.dirty" class="text-danger mt-2">Revize Gerekli</div>
        </div>
      </div>
      <div *ngFor="let item of filters" class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">{{item.label}}</label>
        <div class="col-lg-8">
          <select class="form-select  mb-5 " aria-label="Select example" formControlName="{{item.name}}">
            <option *ngFor="let option of item.options" value="{{option.value}}"
              [selected]="result ? option.value == result[item.name] : null">{{option.name}}</option>
          </select>
          <div *ngIf="form.get(item.name)?.dirty" class="text-danger mt-2">Revize Gerekli</div>
        </div>
      </div>


      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fw-bold fs-6">İhtiyacınızı Detaylı Olarak Anlatın</label>
        <div class="col-lg-8 fv-row">
          <textarea name="expectationDescription" class="form-control form-control-lg " rows="3"
            placeholder="Lütfen almak istediğiniz ürün/hizmet veya hizmeti tanımlayınız."
            formControlName="expectationDescription" minlength="{{minLength}}" maxlength="{{maxLength}}">
                    </textarea>
          <div *ngIf="(form.get('expectationDescription')?.invalid && form.get('expectationDescription')?.touched) || form.get('expectationDescription')?.getError('invalid')"
            class="error-message">
            Lütfen en az {{minLength}} karakter, en fazla {{maxLength}} karakter girişi yapın.
          </div>
          <div *ngIf="form.get('expectationDescription')?.dirty" class="text-danger mt-2">Revize Gerekli</div>
        </div>
      </div>

      <div class="row mb-6">
        <div class="col-5 form-check">
          <input class="form-check-input" type="checkbox" name="isQuestionable" formControlName="isQuestionable"
            id="isQuestionable" />
          <label class="form-check-label text-black" for="isQuestionable">KOBI'ler soru sorabilsin</label>
        </div>
        <div class="col-5 form-check">
          <input class="form-check-input" type="checkbox" name="showFAQ" formControlName="showFAQ" id="showFAQ" />
          <label class="form-check-label text-black" for="showFAQ">Sık Sorulan Sorular Gösterilsin</label>
        </div>
      </div>
      <hr />
      <p> İşle ilgili varsa, örnek görsel ve metin eklemen tedarikçilerin işi daha rahat anlamalarını sağlar.</p>
      <div class="drop-zone" (drop)="dosyaBirak($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)">
        <input type="file" (change)="dosyaSec($event)" style="display: none">
        <p><a href="javascript:void(0);" (click)="dosyaSecManuel()">Dosyayı buraya sürükleyip bırakın veya tıklayarak
            dosya seçin</a>.</p>
      </div>


      <div *ngIf="yuklenenDosyalar.length > 0">
        <h3>Yüklenen Dosyalar</h3>
        <ul>
          <li *ngFor="let dosya of yuklenenDosyalar">{{ dosya.name }}</li>
        </ul>
      </div>

      <div *ngIf="isEnabledError">
        <p class="error-message" style="text-align: right;font-size: 14px;">Lütfen Tüm Alanları Doldurun</p>

      </div>
      <button class="btn btn-primary flex-grow-1 mt-6" style="float:right">Yayınla</button>
    </form>
  </div>

  <app-modal #modal [modalConfig]="modalConfig" aria-modal="true">
    <div class="col-xs-12 text-center">
      <i class="fa-solid fa-check call-tick"></i>
      <h3>Tebrikler</h3>
      <p>Çağrınız oluştu</p>
      <a routerLink="/calls" (click)="closeModal()">Çağrılarım -></a>
    </div>
  </app-modal>

</ng-container>