
<div class="container" *ngIf="user$ | async as _user">
  <div *ngIf="_user.roles[0].appRole.name ==='KOSGEB Admin'" class="col">
    <div class="row">
      <div class="form-group row mb-6 col-4">
        <input style="max-height: 45px;" (change)="companySearch($event)" name="companySearch" class="form-control" type="text" value="" placeholder="Firma Ara"/>
                <div *ngIf="searchCompanies !== null" class="form-control mt-3">
                  <label (click)="companySelect(company)" [ngClass]="selectedCompany.id === company.id ? 'bg-info' : 'bg-white'" class="form-control" *ngFor="let company of searchCompanies">{{company.name}}</label>
          </div>
      </div>
      <div class="form-group row mb-6 col-4 ms-3">
        <input style="max-height: 45px;" (change)="citySearch($event)" name="companySearch" class="form-control" type="text" value="" placeholder="Şehir Ara"/>
                <div *ngIf="searchCities !== null" class="form-control mt-3">
                  <label (click)="citySelect(city)" [ngClass]="selectedCity.id === city.id ? 'bg-info' : 'bg-white'" class="form-control" *ngFor="let city of searchCities">{{city.cityName}}</label>
          </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    

    <div class="col">
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="startDatePicker" placeholder="Başlangıç Tarihi" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="endDatePicker" placeholder="Bitiş Tarihi" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="searchMeetingsByDateRange()">Ara</button>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="user$ | async as _user">
  
    <table *ngIf="meetings" class="table">
      <thead>
        <tr>
          <th scope="col">Toplantı Adı</th>
          <th scope="col">Toplantı Tarihi</th>
          <th scope="col">Şehir</th>
          <th scope="col">Katılımcılar</th>
          <th scope="col" >Toplantı Notları</th>

          <th scope="col">{{_user.roles[0].appRole.name ==='Büyük İşletme Temsilcisi' || _user.roles[0].appRole.name ==='KOSGEB Admin' ? 'Görüşme Linki' : 'Link Güncelle'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of meetings">
          <td>{{ meeting.name }}</td>
          <td>
            <span class="meeting-time">{{ formatMeetingDate(meeting.meetingDate) }}</span>

          </td>
          <td>{{meeting.city.cityName}}</td>
          <td *ngIf="meeting.participants ||meeting.excludeParticipants" >
            <span *ngFor = "let item of meeting.excludeParticipants.slice(0,2) ">{{ item.name }}, </span>
            <span *ngFor = "let item of meeting.participants.slice(0,2) ">{{ item.name}}, </span> </td>
          <td  >
            <button class="btn btn-primary" (click)="viewMeetingNotes(meeting)">Toplantı Notları</button>
          </td>
          <td>
            <input (focusout)="updateMeetingLink($event,meeting)"  type="text" [disabled]="_user.roles[0].appRole.name !=='Büyük İşletme Temsilcisi' && _user.roles[0].appRole.name !=='KOSGEB Admin'" class="form-control form-control-sm form-control-solid ps-10" value="{{meeting.meetingLink}}">
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <app-modal #modal [modalConfig]="modalCompareConfig" aria-modal="true" >
    <app-meeting-notes [meeting]="selectedMeeting" [meetingNotes]="selectedMeetingNotes"></app-meeting-notes>
  </app-modal>
  