<!--begin::Secondary button-->
<!--<div class="selected-filters">
  <p><strong>Seçilen Filtreler:</strong><span *ngFor="let item of selectedFiltersList">{{item.filterName}}</span></p>
</div>-->
<div class="col-xs-12 full-width d-inline-block">
  <ng-container *ngFor="let filter of filters">
    <app-filter [kobiFilter]="filter"
  [filterOptions]="filterOptions"
  (filterChanged)="emitFilterChanges($event)"></app-filter>
  </ng-container>
  
  <button
    id="kt_help_toggle"
    class="btn engage-help-toggle btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 shadow-sm px-5 rounded-top-0"
    title="Learn & Get Inspired"
    data-bs-toggle="tooltip"
    data-bs-placement="left"
    data-bs-dismiss="click"
    style="margin-bottom: 10px;"
    data-bs-trigger="hover">
    Filtrele ->
  </button>
  
</div>
<!--end::Secondary button-->
<div class="row">
  <div *ngFor="let business of businessList,let i = index" class="col-md-4 mb-5 col-xs-6">
    <div class="card p-5">
      <div class="businessTop-icon">
        <a href="javascript:;">
          <i class="fa fa-file-text"></i>
        </a>
        <a href="javascript:;" *ngIf="business.chart">
          <i class="fa fa-line-chart"></i>
        </a>
        <a href="javascript:;" *ngIf="business.group">
          <i class="fa fa-group"></i>
        </a>
        <a href="javascript:;" *ngIf="business.users">
          <i class="fa fa-users"></i>
        </a>
        <a href="javascript:;" *ngIf="business.chart">
          <i class="fa fa-map-pin"></i>
        </a>
        
      </div>
    
    
    <div class="business-name">{{ business.name }}</div>
    <div class="business-company" >{{ business.location }}</div>
    
    <div class="business-address">{{ business.category }}</div>

    <div class="business-button">
      <a href="javascript:;" class="btn btn-dark" (click)="openModal()">Şirketi İncele</a>
      <a href="javascript:;" class="btn btn-primary float-right" aria-disabled="true" style="float:right;">Başvur</a>
    </div>
  </div>
    <app-modal #modal [modalConfig]="modalConfig" aria-modal="true">
      <div class="col-12">
        <ul class="nav">
          <li class="nav-item" *ngFor="let companyItem of business.companyInfo">
          <div class="col-12">
            <div class="card-body py-3">
              <div class="tab-content">
                <!-- begin::Tap pane -->
                <div
                  class=""
                  id="{{companyItem.code+i}}">
                  <h5>{{business.company}}</h5>
                

                  <table class="">
                    <p>{{companyItem.description}}</p>
                    <tr class="ph-0 w-100">
                      <td><b>Ciro:</b> {{companyItem.ciro}}</td>
                    </tr>
                    <tr>
                      <td><b>Çalışan:</b> {{companyItem.worker}}</td>
                    </tr>
                    <tr>
                      <td><b>Sektör:</b> {{companyItem.sektor}}</td>  
                    </tr>
                    <tr><td><b>Konum:</b> {{companyItem.location}}</td></tr>
                  </table>
                </div>
              </div>
              </div>
    
          </div>
          </li>
    
        </ul>
      </div>
      
    </app-modal>
    
  </div>
</div>
  