.business-container {
    border: 1px solid #ccc;
    padding: 20px 15px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  
  .business-name {
    font-size: 18px;
    font-weight: bold;
  }
  .business-company {
    font-size: 16px;
    font-weight:300;
  }
  
  .business-address {
    font-size: 14px;
    color: #666;
  }
  .business-button{
    margin-top:15px;
    
  }

  .businessTop-icon{
    right: 10px;
    top:10px;
    margin-bottom: 10px;
  }
  .businessTop-icon a{margin:0 7px;}
  .businessTop-icon a i{font-size: 21px; color:#0000008c;}
  
  